<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Personal homepage of {{ site.data.main_info.name }}">
  <meta name="author" content="{{ site.data.main_info.name }}">
  <meta property="og:title" content="{{ site.data.main_info.name }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://OKR9871.github.io">
  <meta property="og:site_name" content="{{ site.data.main_info.name }}">
  <link rel="canonical" href="https://OKR9871.github.io">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/libs/external/fontawesome-free-6.6.0-web/css/all.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/libs/external/academicons-1.8.6/css/academicons.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/libs/custom/my_css.css' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ '/libs/icon.png' | prepend: site.baseurl }}">
</head>
<body>
  <main class="page">
    {{ content }}
  </main>

  {% include google_analytics.html %}
</body>
</html>
